In [1]:
import os
import pymysql

# æ¸¬è©¦é€£ç·š
conn = pymysql.connect(
    host=os.getenv('DB_HOST', 'db'),
    user=os.getenv('DB_USER', 'admin'),
    password=os.getenv('DB_PASSWORD', 'password'),
    database='project_db'
)
print("é€£ç·šæˆåŠŸï¼")

é€£ç·šæˆåŠŸï¼

In [2]:
# --- M1 åˆå§‹åŒ–å–®å…ƒæ ¼ ---
import pandas as pd
from sqlalchemy import create_engine, text
import sqlalchemy
import os

# 1. å»ºç«‹å¼•æ“
engine = create_engine("mysql+pymysql://admin:password@db:3306/project_db")

# 2. æª¢æŸ¥å¥—ä»¶æ˜¯å¦æˆåŠŸæ°¸ä¹…å®‰è£
print(f"âœ… å¥—ä»¶é©—è­‰æˆåŠŸï¼SQLAlchemy ç‰ˆæœ¬: {sqlalchemy.__version__}")

# 3. å¦‚æœè³‡æ–™è¡¨æ˜¯ç©ºçš„ï¼Œè‡ªå‹•åŒ¯å…¥ (ä¸‹æ¬¡é€²ä¾†åªè¦è·‘é€™æ ¼å°±å¥½)
csv_path = "cleaned_data_revise_2.csv"
if os.path.exists(csv_path):
    df = pd.read_csv(csv_path)
    df.to_sql('temp_raw_data', con=engine, if_exists='replace', index=False)
    print(f"âœ… è³‡æ–™å·²è‡ªå‹•æ›´æ–°ï¼Œç›®å‰ç¸½ç­†æ•¸: {len(df)}")

âœ… å¥—ä»¶é©—è­‰æˆåŠŸï¼SQLAlchemy ç‰ˆæœ¬: 2.0.45
âœ… è³‡æ–™å·²è‡ªå‹•æ›´æ–°ï¼Œç›®å‰ç¸½ç­†æ•¸: 17880

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
import os

# 1. é‡æ–°å®šç¾© engine (ç¢ºä¿è®Šæ•¸å­˜åœ¨)
DB_URL = "mysql+pymysql://admin:password@db:3306/project_db"
engine = create_engine(DB_URL)

# 2. è¨­å®š CSV è·¯å¾‘ (æ—¢ç„¶ä½ æ”¾é€² backend äº†ï¼Œç›´æ¥å¯«æª”åå³å¯)
csv_path = "cleaned_data_revise_2.csv"

try:
    # 3. è®€å–èˆ‡åŒ¯å…¥
    df_to_import = pd.read_csv(csv_path)
    
    with engine.connect() as conn:
        # å°‡è³‡æ–™å¯«å…¥è³‡æ–™åº«
        df_to_import.to_sql('temp_raw_data', con=engine, if_exists='replace', index=False)
        print(f"âœ… æˆåŠŸï¼å·²åŒ¯å…¥ {len(df_to_import)} ç­†è³‡æ–™åˆ° temp_raw_data è¡¨ä¸­ã€‚")
        
        # 4. ç«‹å³æ¸¬è©¦æŸ¥è©¢
        df_check = pd.read_sql(text("SELECT * FROM temp_raw_data LIMIT 5"), conn)
        print("ğŸ“Š è³‡æ–™åº«å‰äº”ç­†è³‡æ–™å¦‚ä¸‹ï¼š")
        display(df_check)
        
except FileNotFoundError:
    print(f"âŒ æ‰¾ä¸åˆ°æª”æ¡ˆï¼š{csv_path}ã€‚è«‹ç¢ºèªæª”æ¡ˆæ˜¯å¦å·²ç§»å‹•åˆ° backend è³‡æ–™å¤¾ä¸‹ã€‚")
except Exception as e:
    print(f"âŒ åŒ¯å…¥å¤±æ•—ï¼š{e}")

âœ… æˆåŠŸï¼å·²åŒ¯å…¥ 17880 ç­†è³‡æ–™åˆ° temp_raw_data è¡¨ä¸­ã€‚
ğŸ“Š è³‡æ–™åº«å‰äº”ç­†è³‡æ–™å¦‚ä¸‹ï¼š

,title,telecommuting,has_company_logo,has_questions,employment_type,fraudulent,in_balanced_dataset,country,industry_group,edu_level
0,Marketing Intern,0,1,0,Unknown,0,0,US,Unknown,Unknown
1,Customer Service - Cloud Video Production,0,1,0,Full-time,0,0,NZ,Corporate_Services,Unknown
2,Commissioning Machinery Assistant (CMA),0,1,0,Unknown,0,0,US,Unknown,Unknown
3,Account Executive - Washington DC,0,1,0,Full-time,0,0,US,Tech,Bachelor
4,Bill Review Manager,0,1,1,Full-time,0,0,US,Health_Science,Bachelor

In [3]:
import pandas as pd
from sqlalchemy import text

# 1. è®€å–ä½ çœ‹åˆ°çš„é‚£å€‹ CSV æª”æ¡ˆ
# æ³¨æ„ï¼šåœ¨ Container å…§éƒ¨çš„è·¯å¾‘é€šå¸¸èˆ‡é›»è…¦ä¸åŒï¼Œ
# æ ¹æ“šä½ çš„ YAML æ›è¼‰ï¼Œè©¦è©¦çœ‹é€™å€‹è·¯å¾‘ï¼š
csv_path = "/app/cleaned_data_revise_2.csv"

try:
    df_to_import = pd.read_csv(csv_path)
    
    # 2. å°‡è³‡æ–™å¯«å…¥è³‡æ–™åº«
    # if_exists='append' è¡¨ç¤ºæŠŠè³‡æ–™åŠ é€²å»ï¼Œ'replace' è¡¨ç¤ºåˆªæ‰èˆŠçš„æ›æ–°çš„
    df_to_import.to_sql('temp_raw_data', con=engine, if_exists='replace', index=False)
    
    print(f"âœ… æˆåŠŸï¼å·²åŒ¯å…¥ {len(df_to_import)} ç­†è³‡æ–™åˆ° temp_raw_data è¡¨ä¸­ã€‚")
    
    # 3. å†æ¬¡æ¸¬è©¦ä½ çš„èšåˆæŸ¥è©¢
    df_check = pd.read_sql(text("SELECT * FROM temp_raw_data LIMIT 5"), engine)
    display(df_check)
    
except FileNotFoundError:
    print(f"âŒ æ‰¾ä¸åˆ°æª”æ¡ˆï¼š{csv_path}ï¼Œè«‹æª¢æŸ¥ Container å…§éƒ¨çš„å¯¦éš›æ›è¼‰è·¯å¾‘ã€‚")
except Exception as e:
    print(f"âŒ åŒ¯å…¥å¤±æ•—ï¼š{e}")

âœ… æˆåŠŸï¼å·²åŒ¯å…¥ 17880 ç­†è³‡æ–™åˆ° temp_raw_data è¡¨ä¸­ã€‚

,title,telecommuting,has_company_logo,has_questions,employment_type,fraudulent,in_balanced_dataset,country,industry_group,edu_level
0,Marketing Intern,0,1,0,Unknown,0,0,US,Unknown,Unknown
1,Customer Service - Cloud Video Production,0,1,0,Full-time,0,0,NZ,Corporate_Services,Unknown
2,Commissioning Machinery Assistant (CMA),0,1,0,Unknown,0,0,US,Unknown,Unknown
3,Account Executive - Washington DC,0,1,0,Full-time,0,0,US,Tech,Bachelor
4,Bill Review Manager,0,1,1,Full-time,0,0,US,Health_Science,Bachelor

In [4]:
#é¡¯ç¤ºç›®å‰æœ‰çš„è³‡æ–™è¡¨
from sqlalchemy import text

with engine.connect() as connection:
    # ä½¿ç”¨ text() åŒ…è£ SQL å­—ä¸²
    result = connection.execute(text("SHOW TABLES;"))
    # 2.0 ç‰ˆæœ¬çš„çµæœéœ€è¦ç”¨ mappings() æˆ–ç›´æ¥è¿­ä»£
    tables = [row[0] for row in result]
    print("ç›®å‰æœ‰çš„è³‡æ–™è¡¨ï¼š", tables)

ç›®å‰æœ‰çš„è³‡æ–™è¡¨ï¼š ['temp_raw_data']

In [5]:
from sqlalchemy import create_engine, text
import pandas as pd
import os

# 1. å»ºç«‹å¼•æ“
db_user = os.getenv('DB_USER', 'admin')
db_password = os.getenv('DB_PASSWORD', 'password')
db_name = os.getenv('DB_NAME', 'project_db')
DB_URL = f"mysql+pymysql://{db_user}:{db_password}@db:3306/{db_name}"
engine = create_engine(DB_URL)

# 2. å¯¦ä½œèšåˆæŸ¥è©¢ (æ ¹æ“šä½ çš„æ¬„ä½ä¿®æ”¹ï¼šçµ±è¨ˆå„ç”¢æ¥­çš„è·ç¼ºæ•¸èˆ‡é ç«¯æ¯”ä¾‹)
def get_industry_stats():
    # æ”¹ç”¨ industry_group ä½œç‚ºåˆ†é¡ï¼Œtelecommuting ä½œç‚ºèšåˆæŒ‡æ¨™
    sql_agg = text("""
    SELECT 
        industry_group, 
        COUNT(*) as job_count, 
        SUM(telecommuting) as remote_count,
        AVG(telecommuting) * 100 as remote_percentage
    FROM temp_raw_data 
    GROUP BY industry_group
    ORDER BY job_count DESC
    """)
    with engine.connect() as connection:
        return pd.read_sql(sql_agg, connection)

# 3. å¯¦ä½œåˆ†é  (Pagination)
def get_paginated_jobs(page=1, size=10):
    offset = (page - 1) * size
    sql_page = text("SELECT * FROM temp_raw_data LIMIT :size OFFSET :offset")
    with engine.connect() as connection:
        return pd.read_sql(sql_page, connection, params={"size": size, "offset": offset})

# --- åŸ·è¡Œæ¸¬è©¦ ---
try:
    print("æ­£åœ¨åŸ·è¡Œã€ç”¢æ¥­åˆ¥ã€‘èšåˆæŸ¥è©¢...")
    df_summary = get_industry_stats()
    print("âœ… æŸ¥è©¢æˆåŠŸï¼")
    display(df_summary.head(10)) # é¡¯ç¤ºå‰ 10 ç­†

    print("\næ­£åœ¨åŸ·è¡Œåˆ†é æŸ¥è©¢ (ç¬¬ 1 é )...")
    df_page = get_paginated_jobs(page=1, size=5)
    display(df_page)

except Exception as e:
    print(f"âŒ åŸ·è¡Œå¤±æ•—: {e}")

æ­£åœ¨åŸ·è¡Œã€ç”¢æ¥­åˆ¥ã€‘èšåˆæŸ¥è©¢...
âœ… æŸ¥è©¢æˆåŠŸï¼

        industry_group  job_count  remote_count  remote_percentage
0              Unknown       5995         243.0             4.0534
1                 Tech       4375         317.0             7.2457
2   Corporate_Services       1554          51.0             3.2819
3            Education       1062          10.0             0.9416
4              Finance       1030          47.0             4.5631
5      Consumer_Retail       1000          24.0             2.4000
6       Health_Science        863          20.0             2.3175
7    Industrial_Energy        784          17.0             2.1684
8  Media_Entertainment        585          21.0             3.5897
9     Logistics_Travel        449           9.0             2.0045

æ­£åœ¨åŸ·è¡Œåˆ†é æŸ¥è©¢ (ç¬¬ 1 é )...

,title,telecommuting,has_company_logo,has_questions,employment_type,fraudulent,in_balanced_dataset,country,industry_group,edu_level
0,Marketing Intern,0,1,0,Unknown,0,0,US,Unknown,Unknown
1,Customer Service - Cloud Video Production,0,1,0,Full-time,0,0,NZ,Corporate_Services,Unknown
2,Commissioning Machinery Assistant (CMA),0,1,0,Unknown,0,0,US,Unknown,Unknown
3,Account Executive - Washington DC,0,1,0,Full-time,0,0,US,Tech,Bachelor
4,Bill Review Manager,0,1,1,Full-time,0,0,US,Health_Science,Bachelor

In [9]:
with engine.connect() as connection:
    # å–å¾—æ¬„ä½è©³ç´°è³‡è¨Š
    result = connection.execute(text("DESCRIBE temp_raw_data;"))
    columns = [row[0] for row in result]
    print("ğŸ“¢ ä½ çš„è¡¨çœŸæ­£çš„æ¬„ä½åç¨±æ˜¯ï¼š", columns)

ğŸ“¢ ä½ çš„è¡¨çœŸæ­£çš„æ¬„ä½åç¨±æ˜¯ï¼š ['title', 'telecommuting', 'has_company_logo', 'has_questions', 'employment_type', 'fraudulent', 'in_balanced_dataset', 'country', 'industry_group', 'edu_level']

In [7]:
#å–å¾—è£¡é¢çš„è³‡æ–™ç­†æ•¸
with engine.connect() as connection:
    result = connection.execute(text("SELECT COUNT(*) FROM temp_raw_data;"))
    count = result.scalar()
    print(f"ğŸ“Š ç›®å‰ temp_raw_data è³‡æ–™è¡¨ä¸­çš„ç¸½ç­†æ•¸ç‚º: {count}")

ğŸ“Š ç›®å‰ temp_raw_data è³‡æ–™è¡¨ä¸­çš„ç¸½ç­†æ•¸ç‚º: 17880

In [ ]:
%pip install sqlalchemy cryptography
#pandasèˆ‡sqlalchemyç‰ˆæœ¬ç›¸å®¹æ€§å•é¡Œ

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (9.5 kB)
Requirement already satisfied: cryptography in /usr/local/lib/python3.11/site-packages (46.0.3)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /root/.local/lib/python3.11/site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: cffi>=2.0.0 in /usr/local/lib/python3.11/site-packages (from cryptography) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/site-packages (from cffi>=2.0.0->cryptography) (2.23)
Downloading sqlalchemy-2.0.45-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (3.3 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3.3/3.3 MB 7.2 MB/s eta 0:00:0000:0100:01
Downloading greenlet-3.3.0-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (590 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 590.2/590.2 kB 9.3 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.3.0 sqlalchemy-2.0.45
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [8]:
# ä¸‹æ¬¡é€²ä¾†çš„ç¬¬ä¸€ä»¶äº‹ï¼šåŸ·è¡Œæ­¤æ ¼æª¢æŸ¥ç¾æ³
from sqlalchemy import create_engine, text
import pandas as pd

# 1. å»ºç«‹é€£ç·š
engine = create_engine("mysql+pymysql://admin:password@db:3306/project_db")

try:
    with engine.connect() as connection:
        # 2. æª¢æŸ¥è³‡æ–™ç­†æ•¸
        count_res = connection.execute(text("SELECT COUNT(*) FROM temp_raw_data;"))
        count = count_res.scalar()
        
        # 3. æª¢æŸ¥æ¬„ä½
        col_res = connection.execute(text("DESCRIBE temp_raw_data;"))
        cols = [row[0] for row in col_res]
        
        print(f"âœ… é€£ç·šç‹€æ…‹ï¼šæ­£å¸¸")
        print(f"ğŸ“Š ç›®å‰è³‡æ–™ç­†æ•¸ï¼š{count} (å¦‚æœæ˜¯ 0ï¼Œä»£è¡¨ DB çµ„é‚„æ²’åŒ¯å…¥è³‡æ–™)")
        print(f"ğŸ“¢ ç›®å‰æ¬„ä½åç¨±ï¼š{cols}")
        
except Exception as e:
    print(f"âŒ é€£ç·šå¤±æ•—æˆ–ç’°å¢ƒé‡ç½®ï¼š{e}")

âœ… é€£ç·šç‹€æ…‹ï¼šæ­£å¸¸
ğŸ“Š ç›®å‰è³‡æ–™ç­†æ•¸ï¼š17880 (å¦‚æœæ˜¯ 0ï¼Œä»£è¡¨ DB çµ„é‚„æ²’åŒ¯å…¥è³‡æ–™)
ğŸ“¢ ç›®å‰æ¬„ä½åç¨±ï¼š['title', 'telecommuting', 'has_company_logo', 'has_questions', 'employment_type', 'fraudulent', 'in_balanced_dataset', 'country', 'industry_group', 'edu_level']